body{
  margin:0;
  padding: 0;
  font-family: system-ui, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Open Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothinh: grayscale;
  background: linear-gradient(
    to left,
    rgba(7,27,82,1)0%,
    rgba(8,128,128,1)100%
  );
  text-align: center;
}

.app-title{
  margin-top: 75px;
  margin-top: 50px;
  font-size: 76px;
  color: #0ccac4;
  font-family: Bigelow Rules;
}